<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Password Reset Request</h1>
    <p>Hi {{name}},</p>
    <p>We received a request to reset your password. If you did not make this
      request, please ignore this email.</p>
    <p>
      To reset your password, use the following otp:
    </p>
    <h2>{{otp}}</h2>
    <p>Thanks for using our app!</p>
  </body>
</html>